html {
  scroll-behavior: smooth;
}

#logo {
  width: 10%;
  height: 10%;
  margin-top: 0;
}

#logo-name {
  width: 40%;
}

.navbar {
  background-color: #E7D2CC;
  color: #0c515a;
}

.nav-item {
  color: #0c515a;
}

#contact-us {
  background-color: #B9B7BD;
  color: #0c515a;
}

#welcome {
  background-image: url("../images/nov1.jpg");
}

footer {
  background-color: #E7D2CC;
  color: #0c515a;
}

img .letter-head {
  height: 50%;
}

#gallery2 {
  background-image: url("../images/bubbles.jpeg");
  background-size: cover;
  color: #0c515a;
  padding-top: 80px;
  padding-bottom: 20px;
}

#announce {
  background-image: url("../images/nov1.jpg");
  background-size: cover;
  color: #868B8E;
}

#holloween {
  height: 220px;
}

#agnes {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#aey {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#maris {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#fa-facebook-official {
  font-size: 50px;
}

#service {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#abt-us {
  color: #0c515a;
}

.about-us {
  background-color: #EEEDE7;
  padding-bottom: 20px;
}

#gallery1 {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 80px;
  color: antiquewhite;
}


.image-container {
    background-image: url("../images/laundromat.jpg");
    background-size: cover; 
    position: relative; 
    height: 600px;
}

.text {
  background-color: white;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 

}

textarea {
   resize: none;
}


/*# sourceMappingURL=style.sass.map */

/*# sourceMappingURL=style.css.map */