#logo	{
	width: 15%;
	height: 15%;
	margin-top: 0;
	padding-bottom: 10px;
}

.navbar {
	background-color: #8FDDE7;
}

#welcome {
	background-color: #DCEAB2;

}

footer {
	background-color: #8FDDE7;
	color: black;
	
}

img .letter-head {
	height: 50%;
}

.holiday {
	color: red;
}